{% extends 'base.html' %}
{%block head%}
<style>
    .alert{
        margin: 0;
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #0000007a;
        z-index: 10;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alert-box{
        display: block;
        text-align: center;
        height: 20%;
        width: 20%;
        background-color: #FFFFFF;
    }
    .alert-text{
        padding: 5% 0;
    }
    .alert-none{
        display: none;
    }
</style>
  {%endblock%}
  
{% block content %}
{% load cart %}
{% load custom_filter %}

<div class="container">
   <div class="border rounded p-4 m-4" style="background-color: rgba(255, 255, 255, 0.85);">
        <p class="display-4 pl-4 ml-4">Your Orders</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Phone</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Cancel Orders</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.phone}}</td>
                    <td>{{order.price|currency}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price|currency}}</td>
                    {% if order.status %}
                    <td><small class="badge badge-success">Completed</small></td>
                    {%else%}
                    <td><small class="badge badge-warning">Pending</small></td>
                    {% endif %}
                    {% url 'orderss' order.id as urls %}
                    <td><a class="btn btn-sm btn-danger" onclick="sure('{{urls}}')">Cancel</a></td>
                </tr>

                {% endfor %}
               
            </tbody>

        </table>
       
   </div>
</div>
<script>
    function cancel(){
        document.getElementById("alert").classList.toggle("alert-none");
    }
    function sure(link){
        document.getElementById("delete").setAttribute("href",link);
        document.getElementById("alert-text").innerHTML = "Are You Sure?";
        cancel()
    }
</script>
{% endblock %}